body {
  height: 100%;
  margin: 0;
  background-color: #505774;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.navigation {
  position: fixed;
  top: 0;
  height: 5%;
  width: 100%;
  background-color: red;
}

@media (max-width: 730px) {
  .navigation {
    height: 10%;
  }
}

.vertical-separator {
  width: 1px;
  height: 100%;
  background-color: white;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  background-color: white;
}

.param-input {
  font-size: 16px;
  height: 25px;
  width: 50px;
  border-style: solid;
  border-radius: 10px;
}

.round-image {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
}

.container {
  position: fixed;
  top: 5%;
  height: 95%;
  width: 100%;
  background-color: green;
}

@media (max-width: 730px) {
  .container {
    top: 10%;
    height: 90%;
  }
}

.card-container {
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: blue;
  row-gap: 10px;
}

.card {
  min-width: 360px;
  max-height: 400px;
  width: 45%;
  border-radius: 25px;
  background-color: rgb(32, 55, 85);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}

@media (max-width: 730px) {
  .card {
    width: 360px;
  }
}

.card-header {
  width: 100%;
  height: 25%;
  display: flex;
}

.card-header h3 {
  margin: 0;
}

.card-header img {
  height: 85%;
  margin-top: 10px;
  margin-left: 10px;
}

.header {
  margin-left: 15px;
  margin-top: 15px;
}

.wrap {
  height: 75%;
  display: flex;
}

.general-info {
  margin: 0;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-self: center;
}

.info-text {
  margin: 0;
  margin-right: 10px;
  width: 170px;
  text-align: right;
}

@media (max-width: 1000px) {
  .info-text {
    font-size: 12px;
    width: 75px;
  }
}

.price {
  display: flex;
  align-items: center;
}

.price img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.craft-chance {
  display: flex;
  align-items: center;
}

.craft-chance input {
  margin-right: 10px;
}

.craft-amount {
  display: flex;
  align-items: center;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.total {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.total-cost {
  display: flex;
  align-items: center;
}

.total-cost img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.total-amount {
  display: flex;
  align-items: center;
}

.profit {
  display: flex;
  align-items: center;
}

.profit img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.resources {
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  height: 110px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 35px;
}

.res-cost {
  height: 50%;
  display: flex;
  align-items: center;
}

.res-cost input {
  margin-left: 15px;
}

.cost-icon {
  aspect-ratio: 1;
  height: 75%;
  border: 1px solid white;
}

.coin-icon {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.jobs-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px 100px;
  flex-wrap: wrap;
}

.view {
  position: relative;
  top: 130px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 20px;
}

.mat {
  padding: 0.5rem;
  background-color: #cf9c7f;
  border: 2px solid #312f2f;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 17px;
  border-radius: 15px;
}

.mat-name {
  width: 8rem;
}

.mat-param {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mat-param p {
  margin: 0;
}

#mat-cost {
  margin-left: 20px;
}

.mat-param input {
  padding-left: 10px;
  font-size: 16px;
  height: 1.5em;
  width: 60px;
  border: 1px solid black;
  border-radius: 5px;
}

.mat-param input:disabled {
  color: black;
  background-color: rgb(189, 186, 186);
}

.mat-icon {
  height: 4rem;
  aspect-ratio: 1;
}
