body {
  height: 100%;
  margin: 0;
  background-color: #505774;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.vertical-separator {
  width: 1px;
  height: 100%;
  background-color: white;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  background-color: white;
}

.param-input {
  font-size: 16px;
  height: 25px;
  width: 50px;
  border-style: solid;
  border: 1px solid black;
  border-radius: 10px;
}

.param-input:disabled {
  color: black;
  border-style: solid;
}

.output {
  color: black;
  background-color: white;
}

.round-image {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid white;
}

.navigation {
  position: fixed;
  top: 0;
  height: 5%;
  width: 100%;
  background-color: rgb(108, 118, 119);
}

.jobs-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px 100px;
  flex-wrap: wrap;
}

@media (max-width: 730px) {
  .navigation {
    height: 10%;
  }
}

@media (max-width: 400px) {
  .navigation {
    height: 20%;
  }
}

.container {
  position: fixed;
  top: 5%;
  height: 95%;
  width: 100%;
  background-color: #11202c;
}

@media (max-width: 730px) {
  .container {
    top: 10%;
    height: 90%;
  }
}

@media (max-width: 400px) {
  .container {
    top: 20%;
    height: 80%;
  }
}

.card-container {
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
}

.card {
  max-height: 400px;
  width: 360px;
  border-radius: 25px;
  border: 3px solid #385f64;
  background-color: #203755;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}

@media (max-width: 730px) {
  .card {
    width: 360px;
  }
}

.card-header {
  width: 100%;
  height: 25%;
  display: flex;
}

.card-header h3 {
  margin: 0;
}

.card-header img {
  height: 70%;
  margin-top: 10px;
  margin-left: 10px;
}

.header {
  margin-left: 15px;
  margin-top: 15px;
}

.wrap {
  height: 75%;
  display: flex;
}

.general-info {
  margin: 0;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-self: center;
}

.info-text {
  margin: 0;
  margin-right: 10px;
  text-align: right;

  font-size: 12px;
  width: 75px;
}

.price {
  display: flex;
  align-items: center;
}

.price img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.craft-chance {
  display: flex;
  align-items: center;
}

.craft-chance input {
  margin-right: 10px;
}

.craft-amount {
  display: flex;
  align-items: center;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.total {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.total-cost {
  display: flex;
  align-items: center;
}

.total-cost img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.total-amount {
  display: flex;
  align-items: center;
}

.profit {
  display: flex;
  align-items: center;
}

.profit img {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}

.resources {
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  height: 110px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 35px;
}

.res-cost {
  height: 50%;
  display: flex;
  align-items: center;
}

.res-cost input {
  margin-left: 15px;
}

.cost-icon {
  aspect-ratio: 1;
  height: 75%;
  border: 1px solid white;
}

.coin-icon {
  margin: 0;
  margin-left: 5px;
  height: 20px;
  border: 1px solid black;
}
